body {
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
    display: flex;
    width: 900px;
}

.top-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    background-image: url('http://i.imgur.com/1lAdGBz.jpg');
    background-size: cover;
}

.top-section__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: black;
    opacity: .8;
}

.top-section .top-section__inner-container {
    width: 700px;
    color: white;
    z-index: 1;
}

.filtered-movie-list {
    width: 100%;
}

.filtered-movie-list h1 {
    margin: 0; 
    margin-bottom: 10px; 
    font-size: 14px; 
    color: white;
}

.search-form {
    margin-bottom: 20px;
}

.search-form .search-input {
    width: 100%; 
    margin-bottom: 10px; 
    background: black; 
    color: white
}

.search-form .search-button {
    font-size: 16px;
    float: right;
}

.search-by {
    display: inline-block;
    font-size: 12px;
}

.search-by label {
    margin-right: 20px;
    color: white;
}

.search-form .search-by button {
    margin-right: 12px;
    font-size: 12px;
}

.app .movie-list-toolbar {
    border: none; 
    font-weight: bold; 
    font-size: 12px; 
    padding-left: 100px;
    padding-right: 100px;
}

.app .movie-list-toolbar label {
    display: inline-block;
}

.sort-by {
    float: right;
}

.sort-by__link {
    padding-right: 10px;
}

.sort-by__link--active {
    color: red;
}

.sort-by label {
    padding-right: 10px;
}

.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.movie-list-item {
    width: 250px;
    margin-bottom: 20px;
}

.movie-list-item img {
    width: 100%;
}

.movie-list-item h2 {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    width: 210px;
}

.movie-list-item__date {
    float: right;
    margin-top: 8px;
    font-size: 10px;
    padding: 1px 4px;
    border: 1px solid #999;
    border-radius: 2px;
}

.movie-list-item__genres {
    font-size: 10px;
    color: #999;
    margin-top: -8px;
}

.app .movie-page button {
    font-size: 10px;
    color: red!important;
    float: right;
    margin-top: -24px;
}

.movie {
    position: relative;
}

.movie img {
    max-width: 200px;
    width: auto;
    height: auto;
}

.movie__description {
    position: absolute;
    top: 0;
    left: 220px;
    width: 450px;
}

.movie__description h2 {
    display: inline-block;
    margin: 0;
    color: #d8083ed9;
}

.movie__rating {
    display: inline-block;
    border: 1px solid darkkhaki;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    color: darkkhaki;
    margin-left: 12px;
    font-size: 12px;
    position: relative;
    top: -2px;
}

.movie__date {
    margin-right: 20px;
}

.movie__tagline,
.movie__overview {
    color: #aaa;
}

.movie__overview {
    margin-top: 20px;
    max-height: 200px;
    overflow: hidden;
}